<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appender name="splunkAppender" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:8088</url>
        <token>2c36c76a-718a-436a-84a5-4319f43fe0f3</token>
        <disableCertificateValidation>true</disableCertificateValidation>
        <sourcetype>cloud-stream</sourcetype>
        <batch_size_count>1</batch_size_count>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </Appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name ="com.adme.learning.cloudstream" level="INFO">
        <appender-ref ref="splunkAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>