<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appender name="splunkAppender" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:8088</url>
        <token>e1735654-850c-4740-87f4-162b1a1c9df8</token>
        <disableCertificateValidation>true</disableCertificateValidation>
        <sourcetype>file-integration-service</sourcetype>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </layout>
    </Appender>
    <logger name ="com.example.person.file.gateway" level="INFO">
        <appender-ref ref="splunkAppender" />
    </logger>
    <logger name ="com.example.person.file.gateway" level="ERROR">/
        <appender-ref ref="splunkAppender" />
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name ="com.example.person.file.gateway" level="INFO">
        <appender-ref ref="splunkAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>